## @section Global parameters
global:
  ## @param global.imageRegistry Global Docker Image registry
  imageRegistry: ""
  ## @param global.imagePullSecrets Global Docker registry secret names as an array
  imagePullSecrets: []

## @section Common parameters
## @param nameOverride String to partially override lidarr.fullname
nameOverride: ""
## @param fullnameOverride String to fully override lidarr.fullname
fullnameOverride: ""
## @param commonLabels Labels to add to all deployed objects
commonLabels: {}
## @param commonAnnotations Annotations to add to all deployed objects
commonAnnotations: {}

## @section lidarr image parameters
image:
  ## @param image.registry lidarr image registry
  registry: docker.io
  ## @param image.repository lidarr image repository
  repository: linuxserver/lidarr
  ## @param image.tag lidarr image tag (immutable tags are recommended)
  tag: "latest"
  ## @param image.pullPolicy lidarr image pull policy
  imagePullPolicy: Always

## @section Radarr Authentication parameters
auth:
  ## @param create service account for radarr
  saEnabled: true
  ## @param auth.authenticationMethod NZBGet (Forms or External) (Use External to reset the Passwort or for first start)
  authenticationMethod: Forms
  ## @param auth.AuthenticationRequired Enable or disable authentication
  AuthenticationRequired: Enabled
  ## @param auth.apiKey NZBGet API key (4f2c460385004d6594414e3442j54c79)
  apiKey: ""
  ## @param auth.existingSecret Name of existing secret to use for NZBGet api key
  existingSecret:
    ## @param auth.existingSecret.secretName Name of the existing secret
    secretName: ""
    ## @param auth.existingSecret.secretKey Key in the existing secret that contains the api key
    secretKey: ""

## @section radarr configuration parameters
config:
  ## @param config.logLevel radarr log level (trace, debug, info, warn, error, fatal)
  logLevel: debug

## @section lidarr service parameters
service:
  ## @param service.type lidarr service type
  type: ClusterIP
  ## @param service.port lidarr service port
  port: 8686
  ## @param service.nodePort Node port for lidarr service
  nodePort: ""
  ## @param service.clusterIP Static cluster IP or "None" for headless service
  clusterIP: ""
  ## @param service.annotations Additional custom annotations for lidarr service
  annotations: {}

## @section Persistence parameters
persistence:
  ## @param persistence.enabled Enable lidarr data persistence using PVC
  enabled: true
  ## @param persistence.storageClass PVC Storage Class for lidarr data volume
  storageClass: ""
  ## @param persistence.accessModes PVC Access modes
  accessModes:
    - ReadWriteOnce
  ## @param persistence.size PVC Storage Request for lidarr data volume
  size: 2Gi
  ## @param persistence.annotations Additional custom annotations for the PVC
  annotations: {}
  ## @param persistence.selector Additional labels for the PVC
  selector: {}

## @section Pod Security Context
podSecurityContext:
  ## @param podSecurityContext.enabled Enable lidarr pod Security Context
  enabled: true
  ## @param podSecurityContext.fsGroup Set lidarr pod's Security Context fsGroup
  fsGroup: 1000

## @section Container Security Context
containerSecurityContext:
  ## @param containerSecurityContext.runAsUser Set lidarr container's Security Context runAsUser
  runAsUser: 1000
  ## @param containerSecurityContext.runAsGroup Set lidarr container's Security Context runAsGroup
  runAsGroup: 1000
  ## @param containerSecurityContext.runAsNonRoot Set lidarr container's Security Context runAsNonRoot
  runAsNonRoot: true
  ## @param containerSecurityContext.allowPrivilegeEscalation Set lidarr container's privilege escalation
  allowPrivilegeEscalation: true

## @section Resources parameters
resources: {}
  ## @param resources.limits The resources limits for the lidarr containers
  ## limits:
  ##   memory: 300Mi
  ## @param resources.requests The requested resources for the lidarr containers
  ## requests:
  ##   memory: 300Mi
  ##   cpu: 100m

## @section Extra Configs
## @param env A list of additional environment Variables
env:
  - name: TZ
    value: "Europe/Zurich"
## @param extraSecrets A list of additional existing secrets that will be mounted into the container
extraSecrets: []
##  - name: secret
##    defaultMode: 0440
##    mountPath: /mnt/secret
## @param extraConfigs A list of additional existing configMaps that will be mounted into the container
extraVolumes: []
##  - name: volume
##    mountPath: /mnt/tmp
##    pvcName: pvc-001
nfsVolumes: []
##  - name: plex-media
##    mountPath: /downloads
##    nfs:
##      server: 192.168.x.x
##      path: /downloads

## @section lidarr container's liveness probe parameters
livenessProbe:
  ## @param livenessProbe.enabled Enable livenessProbe on MariaDB containers
  enabled: true
  ## @param livenessProbe.initialDelaySeconds Initial delay seconds for livenessProbe
  initialDelaySeconds: 30
  ## @param livenessProbe.periodSeconds Period seconds for livenessProbe
  periodSeconds: 10
  ## @param livenessProbe.timeoutSeconds Timeout seconds for livenessProbe
  timeoutSeconds: 1
  ## @param livenessProbe.failureThreshold Failure threshold for livenessProbe
  failureThreshold: 3
  ## @param livenessProbe.successThreshold Success threshold for livenessProbe
  successThreshold: 1

## @section lidarr container's readiness probe parameters
readinessProbe:
  ## @param readinessProbe.enabled Enable readinessProbe on MariaDB containers
  enabled: true
  ## @param readinessProbe.initialDelaySeconds Initial delay seconds for readinessProbe
  initialDelaySeconds: 5
  ## @param readinessProbe.periodSeconds Period seconds for readinessProbe
  periodSeconds: 10
  ## @param readinessProbe.timeoutSeconds Timeout seconds for readinessProbe
  timeoutSeconds: 1
  ## @param readinessProbe.failureThreshold Failure threshold for readinessProbe
  failureThreshold: 3
  ## @param readinessProbe.successThreshold Success threshold for readinessProbe
  successThreshold: 1

## @section lidarr container's startup probe parameters
startupProbe:
  ## @param startupProbe.enabled Enable startupProbe on MariaDB containers
  enabled: false
  ## @param startupProbe.initialDelaySeconds Initial delay seconds for startupProbe
  initialDelaySeconds: 30
  ## @param startupProbe.periodSeconds Period seconds for startupProbe
  periodSeconds: 10
  ## @param startupProbe.timeoutSeconds Timeout seconds for startupProbe
  timeoutSeconds: 1
  ## @param startupProbe.failureThreshold Failure threshold for startupProbe
  failureThreshold: 15
  ## @param startupProbe.successThreshold Success threshold for startupProbe
  successThreshold: 1

## @section Ingress parameters
ingress:
  ## @param ingress.enabled Enable ingress record generation for lidarr
  enabled: false
  ## @param ingress.className IngressClass that will be used to implement the Ingress (Kubernetes 1.18+)
  className: ""
  ## @param ingress.annotations Additional annotations for the Ingress resource
  annotations:
    kubernetes.io/hostname: lidarr.local
  ## @param ingress.hosts An array with hosts and paths
  hosts:
    - host: lidarr.local
      paths:
        - path: /
          pathType: Prefix
  ## @param ingress.tls TLS configuration for the Ingress
  tls: []

## @section Network Policy configuration
networkPolicy:
  ## @param networkPolicy.enabled Specifies whether a NetworkPolicy should be created
  enabled: false
  ## @param networkPolicy.allowExternal Don't require client label for connections
  allowExternal: true
  ## @param networkPolicy.ingressNSMatchLabels Labels to match to allow traffic from other namespaces
  ingressNSMatchLabels: {}
  ## @param networkPolicy.ingressNSPodMatchLabels Pod labels to match to allow traffic from other namespaces
  ingressNSPodMatchLabels: {}
  
  destinations:
    nzbget:
      Port: 6789
      selectorLabels:
        app.kubernetes.io/name: nzbget
        app.kubernetes.io/instance: nzbget

metrics:
  ## @param metrics.enabled Enable the lidarr metrics exporter deployment
  enabled: false
  ## @param metrics.image.registry Redis exporter image registry
  ## @param metrics.image.repository Redis exporter image repository
  ## @param metrics.image.tag Redis exporter image tag
  ## @param metrics.image.pullPolicy Redis exporter image pull policy
  image:
    ## @param metrics.image Docker image for the lidarr metrics exporter
    registry: ghcr.io
    repository: onedr0p/exportarr
    tag: v2.3 # https://github.com/onedr0p/exportarr/pkgs/container/exportarr
    imagePullPolicy: IfNotPresent
  ## @param metrics.containerPort Port where the metrics exporter will listen on
  containerPort: 9707
  ## @param metrics.resources Resource limits and requests for metrics container
  resources:
    limits:
      memory: 64Mi
    requests:
      cpu: 50m
      memory: 64Mi
  ## @param metrics.extraArgs Extra arguments for redis exporter, for example:
  ## extraArgs:
  ##   - --...
  ##   - --...
  extraArgs: []
  ## Metrics service configuration
  service:
    ## @param metrics.service.type Metrics service type
    type: ClusterIP
    ## @param metrics.service.port Metrics service port
    port: 9707
    ## @param metrics.service.annotations Additional custom annotations for Metrics service
    annotations: {}
    ## @param metrics.service.loadBalancerIP Load balancer IP if metrics service type is `LoadBalancer`
    loadBalancerIP: ""
    ## @param metrics.service.loadBalancerSourceRanges Addresses that are allowed when metrics service is LoadBalancer
    loadBalancerSourceRanges: []
    ## @param metrics.service.clusterIP Static clusterIP or None for headless services when metrics service type is ClusterIP
    clusterIP: ""
    ## @param metrics.service.nodePort Specify the nodePort value for the LoadBalancer and NodePort service types
    nodePort: ""
  ## Prometheus ServiceMonitor configuration
  serviceMonitor:
    ## @param metrics.serviceMonitor.enabled Create ServiceMonitor resource(s) for scraping metrics using PrometheusOperator
    enabled: false
    ## @param metrics.serviceMonitor.namespace Namespace in which to create ServiceMonitor resource(s)
    namespace: ""
    ## @param metrics.serviceMonitor.interval Interval at which metrics should be scraped
    interval: 4m
    ## @param metrics.serviceMonitor.scrapeTimeout Timeout after which the scrape is ended
    scrapeTimeout: ""
    ## @param metrics.serviceMonitor.relabelings Specify additional relabeling of metrics
    relabelings: []
    ## @param metrics.serviceMonitor.metricRelabelings Specify additional metric relabeling of metrics
    metricRelabelings: []
    ## @param metrics.serviceMonitor.honorLabels Honor metrics labels
    honorLabels: false
    ## @param metrics.serviceMonitor.selector Prometheus instance selector labels
    selector: {}
    ## @param metrics.serviceMonitor.annotations Additional custom annotations for the ServiceMonitor
    annotations: {}
    ## @param metrics.serviceMonitor.namespaceSelector Namespace selector for ServiceMonitor
    namespaceSelector: {}

## @section Pod configuration
podAnnotations: {}
podLabels: {}
nodeSelector: {}
tolerations: []
affinity: {}

## @param extraObjects Array of extra objects to deploy with the release
extraObjects: []
